/*
========================================
reset
========================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

/*
========================================
Typography
========================================
*/
h1, h2, h3, h4, h5, p {
    margin-bottom: 22px;
}

/*
========================================
Clearfix
========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after{
    clear: both;
}
.group{
    clear: both;
    zoom: 1;
}

/*
========================================
Primary header
========================================
*/
.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}

/*
========================================
Primary footer
========================================
*/
.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}

/*
========================================
Custom Style
========================================
*/
body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
    color: #648880;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    color: #a9b2b9;
}
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}
/*
========================================
links
========================================
*/
a {
    color: #648880;
    text-decoration: none;
}
a:hover {
    color: #a9b2b9;
}
p a {
    border-bottom: 1px solid #dfe2e5;
}
/*
========================================
special styles
========================================
*/
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.nav {
    text-align: right;
}
.primary-header a,
.primary-footer a {
    color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}
.nav li{
    display: inline-block;
    margin: 0 10px;
    vertical-align: 0;
}